/* 1. Config files and helpers */
logo img {
	max-width: 25%;
	max-height: auto;
}

.join-reason img {
	max-width: 25%;
	max-height: auto;
}

/* 2. Vendor stuff */


/* 3. Base styles */


/* 4. Layout */


/* 5. Components */


/* 6. Anything else */